<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GameInfotech</display-name>
  <welcome-file-list>
    <welcome-file>AgeCheck.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>abc</display-name>
    <servlet-name>abc</servlet-name>
    <servlet-class>abc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citizen</display-name>
    <servlet-name>Citizen</servlet-name>
    <servlet-class>Citizen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citizen</servlet-name>
    <url-pattern>/Citizen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayerServlet</display-name>
    <servlet-name>AddPlayerServlet</servlet-name>
    <servlet-class>com.Demo.Servlet.AddPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayerServlet</servlet-name>
    <url-pattern>/AddPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayer</display-name>
    <servlet-name>AddPlayer</servlet-name>
    <servlet-class>com.Demo.Servlet.AddPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayer</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayerServlets</display-name>
    <servlet-name>AddPlayerServlets</servlet-name>
    <servlet-class>com.demo.servlet.AddPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayerServlets</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhotoServlet</display-name>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>com.demo.servlet.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/addphoto</url-pattern>
  </servlet-mapping>
</web-app>